/* CUSTOM PROPS */
:root {
    --heading-color:#151515;
    --text-color:#575757;
    --accent-color:#6A983C;
    --light-black-color:#A9A9A9;
    --bg-color:#F9F9F9;
    --button-bg-light-grey-color:#F5F5F5;

    /* FONTS */
    --opensans-font-stack: "Open Sans", "Arial", sans-serif;
    --poppins-font-stack: "Poppins", "Arial", sans-serif;
  }
  
  
  /* FONT-FACE */

  @font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Poppins";
    src: url("../fonts//Poppins-Regular.woff2") format("woff2"),
    url("../fonts/Poppins-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Poppins";
    src: url("../fonts//Poppins-Medium.woff2") format("woff2"),
    url("../fonts/Poppins-Medium.woff") format("woff");
    font-weight: medium;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Poppins";
    src: url("../fonts//Poppins-SemiBold.woff2") format("woff2"),
    url("../fonts/Poppins-SemiBold.woff.woff") format("woff");
    font-weight:600;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Poppins";
    src: url("../fonts//Poppins-Bold.woff2") format("woff2"),
    url("../fonts/Poppins-Bold.woff.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  
  /* GENERAL */
  html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 15px;
    line-height: 22px;
    font-family: var(--opensans-font-stack);
    background-color: #fff;
    color: var(--heading-color);
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  a {
    text-decoration: none;
  }
  
  
  /* CONTAINER */
  .container {
    max-width: 1170px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  /* BUTTON */
  /* .button {
    display: inline-block;
    padding: 11px 40px;
    border: 3px solid transparent;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 15px;
    line-height: 25px;
    font-family: var(--poppins-font-stack);
    font-weight: bold;
    background-color:;
    color: #fff;
    white-space: nowrap;
  }
  
  .button:hover {
    border-color:;
    background-color:;
    color: ;
  }
  
  .button:active {
    opacity: 0.6;
  } */
  

  /* SITE_HEADER */
.site-header__container{
    font-family: var(--opensans-font-stack);
}
  .sitenav{
      display: flex;
      align-items: center;
      padding: 16px 0;
      border-bottom: 1px solid rgba(21, 21, 21,0.05);
      text-align: left;
  }
  .sitenav-list{
      padding: 0;
      margin: 0;
      list-style-type: none;
      display: flex;
      align-items: center;
  }
  .sitenav-item:not(:first-child){
     margin-left: 38px;
  }
  .sitenav-link{
      color: var(--accent-color);
      white-space: nowrap;
  }
  .contact-us{
      display: flex;
      align-items: center;
      margin-right: auto;
  }

  .contact-us__link{
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: var(--heading-color);
    white-space: nowrap;
  }
  .contact-us__link:not(:last-child){
      margin-right: 33px;
  }
  .contact-us__link-chat{
      color: var(--accent-color);
  }

/* HEADER_MAIN */

 .header-main{
     display: flex;
     align-items: center;
     padding-top: 40px;
     padding-bottom: 48px;
 }
 .site-header__logo{
     margin-right: auto;
     flex-shrink: 0;
 }
 .site-logo__img{
     display: block;
 }
 .search-box{
     width: 500px;
     max-width: 100%;
     display: flex;
     align-items: center;
     padding: 11px 16px;
     margin-right: auto;
     background: #F9F9F9;
     border: 1px solid #D1D1D1;
     box-sizing: border-box;
     border-radius: 12px;
     position: relative;
 }
 .search-btn{
     border: none;
     outline: none;
     background-repeat: no-repeat;
     background-size: contain;
     width: 15px;
     height: 15px;
     background-image: url("../img/search-icon.svg");
     background-color: transparent;
     margin-left: 15px;
 }
 .categories-list{
     border: none;
     font-family: var(--poppins-font-stack);
     font-weight: bold;
     color: var(--heading-color);
     padding-right: 12px;
     background-color: transparent;
  }

  .site-header__form input{
      width: 262px;
      padding: 0 24px;
      border: none;
      font-weight: normal;
      font-family: var(--opensans-font-stack);
      font-size: 14px;
      line-height: 19px;
      color: var(--light-black-color);
      border-left: 1px solid #D1D1D1;
      margin-left: 28px;
      background-color: transparent;
      outline-offset: 2px;
      outline-color: var(--accent-color);
  }
 
  .basket-wrapper{
      display: flex;
      align-items: center;
  }
  .basket-wrapper img{
      display: block;
  }
  .basket{
      margin-left: 45px;
      position: relative;
  }
  .basket::after{
      content:"4";
      width: 16px;
      height: 16px;
      position: absolute;
      top: 7px;
      left: -5px;
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      color: #fff;
      text-align: center;
      display: block;
      background: #E6704B;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
      border-radius: 12px;
  }

  /* SITE-HEADER-MENU */
  .site-header__menu{
      background-color: var(--bg-color);
      font-family: var(--poppins-font-stack);
      font-weight:500;
      padding-top: 16px;
      padding-bottom: 16px;
  }
  .menu-list{
      padding: 0;
      margin: 0;
      list-style-type: none;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
  }
  .menu-item{
      position: relative;
    }
    .menu-link{
        display: flex;
        align-items: center;
        white-space: nowrap;
  }
  .menu-link::after{
      content: "";
      width: 10px;
      height: 5px;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url("../img/arrow-bottom.svg");
      margin-left: 5px;
      transition: 0.3s ease;
  }
.dropdown{
    display: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 99;
    list-style-type: none;
    background-color: #fff;
    border: 1px solid #f2f2f2;
    padding: 15px;
    white-space: nowrap;
    border-radius: 10px;
    box-shadow: 0 0 2px 0 #f2f2f2;
}

 .menu-item:hover .dropdown{
    display: block;
}
 .menu-item:hover .menu-link{
    color: var(--accent-color);
}
 .dropdown-link{
      color: var(--heading-color);
  }
  .dropdown-item:hover .dropdown-link{
      color: var(--accent-color);
  } 
  .menu-link{
    color: var(--heading-color);
  }
  .menu-item:not(:last-child){
     margin-right: 43px;
  }

.burger-btn{
    display: none;
    width: 34px;
    height: 34px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1000;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/open-icon.png");           
 }



  /* RESPONSIVE */

  /* SITE-HEADER */
  @media only screen and (max-width:1125px) {
      .menu-link{
          margin-top: 5px;
      }
  }
  @media only screen and (max-width:860px){
      .header-main{
          flex-direction: column;
      }
      .site-header__logo{
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 20px;
      }
      .search-box{
          margin-left: auto;
          margin-right: auto;
          order: 2;
      }
      .baskets-wrapper{
        margin-bottom: 20px;
      }
  }
  @media only screen and (max-width:660px){
      .sitenav{
          display: none;
      }
      .header-main{
          padding: 0;
      }
      .site-header__logo{
          padding: 15px 0;
          margin-bottom: 0;
      }
      .sitenav{
          width: 400px;
          height: 100vh;
          padding: 30px;
          position: absolute;
          top: 80px;
          left: 0;
          z-index: 100;
          max-width: 100%;
          background-color:var(--light-black-color);
          display: block;
          transform: translateX(-100%);
          text-align: left;
        }
        .baskets-wrapper{
            transform: translateX(-300%);
        }
        .active-burger{
            transform: translateX(0);
            transition: 0.3s ease-in;
        }
        .contact-us{
            flex-direction: column;
            margin-bottom: 40px;
        }
        .sitenav-list{
            flex-direction: column;
            order: 1;
        }
        .contact-us__link:not(:first-child){
            color: white;
        }
        .contact-us__link:not(:last-child){
            margin-right:0;
            margin-bottom: 30px;
        }
        .sitenav-item:not(:first-child){
            margin-left: 0;
         }
         .sitenav-item:not(:last-child){
            margin-bottom: 20px;
         }
         .baskets-wrapper{
             position: absolute;
             top: 100%;
             left: 150px;
             z-index: 101;
         }
         .burger-btn{
             display: block;
         }
         
  }
